@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #F7F7F7;
  width: 100%;
  font-family: "Lato", sans-serif;
}

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 0rem;
  width: 100%;
  box-shadow: #272A31 12px;
  top: 0;
  margin-top: 0rem;
  background-color: #7A7879;
  border-radius: 0px 0px 12px 12px;
  padding: 2rem 2rem;
  position: fixed;
}
header a .logo {
  display: none;
}
header .header-links {
  display: none;
}
header .header-links a {
  text-decoration: none;
}

.hamburger {
  display: block;
}
.hamburger .bar {
  display: block;
  width: 40px;
  height: 6px;
  margin: 5px auto;
  background-color: #272A31;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.hamburger .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger .hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger .hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0rem 1.5rem 3rem 1.5rem;
  margin-top: 4rem;
  background-image: url(./items/Img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-container .intro-heading {
  color: #EC5242;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 3em;
  align-items: center;
  margin-bottom: 0;
}
.intro-container p {
  color: #272A31;
  font-family: "Lato", sans-serif;
  border: 3px solid white;
  padding: 5px;
  line-height: 25px;
  font-size: 20px;
}
.intro-container button {
  border: solid #EC5242 2px;
  padding: 1em;
}
.intro-container img {
  margin-top: 10px;
}

.explore-category {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-image: url("./items/explore-section-background.png");
}
.explore-category .explore-category-line hr {
  margin-left: 6rem;
  height: 3px;
  margin-right: 6rem;
  background-color: #EC5242;
}
.explore-category .explore-category-heading {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 1rem;
}
.explore-category button {
  float: center;
  background-color: #EC5242;
  color: white;
  border: none;
  width: 80%;
  margin: auto;
  padding: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.category-content {
  display: flex;
  flex-direction: row;
  padding: 8px;
  width: 100%;
  gap: 10px;
  align-items: center;
  background-color: #3B3E45;
  border-radius: 6px;
  margin-bottom: 8px;
}
.category-content img {
  width: 15%;
}
.category-content .category-title {
  width: 15%;
  color: #EC5242;
  font-family: "Lato", sans-serif;
}
.category-content .category-paragraph {
  width: 70%;
  color: white;
  font-size: 18px;
}

.singers-section {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.singers-section hr {
  margin-left: 8rem;
  height: 3px;
  margin-right: 8rem;
  background-color: #EC5242;
}
.singers-section .singer-section-heading {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 2rem;
}

.singer-content-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  align-items: center;
  margin-bottom: 8px;
}
.singer-content-content img {
  width: 40%;
}

.side-singer-content {
  width: 65%;
  font-family: "Lato", sans-serif;
}
.side-singer-content .singer-title {
  height: 30%;
}
.side-singer-content .about-singer {
  color: #EC5242;
  font-style: italic;
  font-family: "Lato", sans-serif;
}
.side-singer-content hr {
  margin-left: 0rem;
  height: 3px;
  margin-right: 12rem;
  background-color: #EC5242;
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 2rem 1.5rem 0.5rem 1.5rem;
  margin-bottom: 1.65rem;
  margin-top: 1rem;
  width: 100%;
  background-color: #F7F7F7;
}
.about-section .about-heading {
  color: #EC5242;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 3em;
  align-items: center;
  margin-bottom: 14px;
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
  height: 120px;
}
.about-section .about-section-firstParagraph {
  text-align: center;
  color: #EC5242;
  font-family: "Lato", sans-serif;
  font-size: 24px;
}
.about-section .about-section-secondParagraph {
  font-family: "Lato", sans-serif;
  color: #272A31;
  border: 5px solid white;
  padding: 5px;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  background-color: white;
}
.about-section .about-third-paragraph {
  font-family: "Lato", sans-serif;
  color: #272A31;
  line-height: 26px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0;
}
.about-section .about-email {
  font-family: "Lato", sans-serif;
  color: #272A31;
  font-size: 22px;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  border-bottom: 2px solid #272A31;
  text-align: center;
}

.tier-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.tier-content2,
.tier-content3 {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  box-shadow: 5px 12px 8px #888888;
  padding: 5rem;
  border-radius: 20px 20px 5px 5px;
  text-align: center;
}

.tier-content {
  border-top: 8px solid black;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  box-shadow: 5px 12px 8px #888888;
  padding: 5rem 6rem;
  border-radius: 20px 20px 5px 5px;
  text-align: center;
}
.tier-content h2 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bold;
}
.tier-content h3 {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.tier-content p {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}
.tier-content button {
  border: none;
  padding: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 17px;
  border-radius: 10px;
  background-color: black;
  color: #EC5242;
}

.tier-content2 {
  border-top: 8px solid #EC5242;
}
.tier-content2 h2 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #EC5242;
}
.tier-content2 h3 {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #EC5242;
}
.tier-content2 p {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}
.tier-content2 button {
  border: none;
  padding: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 17px;
  border-radius: 10px;
  background-color: #EC5242;
  color: black;
}

.tier-content3 {
  border-top: 8px solid #D3D3D3;
}
.tier-content3 h2 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #EC5242;
}
.tier-content3 h3 {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #EC5242;
}
.tier-content3 p {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}
.tier-content3 button {
  border: none;
  padding: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 17px;
  border-radius: 10px;
  background-color: #EC5242;
  color: black;
}

.past-events {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F7F7F7;
  padding: 2rem 1rem;
}
.past-events .past-event-headings h1 {
  color: #3C3C3C;
  font-family: "Lato", sans-serif;
  font-size: 32px;
}
.past-events .past-event-headings p {
  color: #3C3C3C;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
.past-events .past-events-contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.past-events .past-events-contents .event1 {
  display: flex;
  flex-direction: column;
  padding: 6rem 1rem;
  background-image: url(./items/concert1.png);
  border-radius: 5px;
  filter: grayscale(100%);
  background-size: cover;
  background-repeat: no-repeat;
}
.past-events .past-events-contents .event1 h2 {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: bolder;
}
.past-events .past-events-contents .event1 p {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
}
.past-events .past-events-contents .event2 {
  display: flex;
  flex-direction: column;
  padding: 6rem 1rem;
  align-items: center;
  background-image: url(./items/concert2.png);
  border-radius: 5px;
  filter: grayscale(100%);
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
}
.past-events .past-events-contents .event2 h2 {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: bolder;
}
.past-events .past-events-contents .event2 p {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
}
.past-events .past-events-contents .event3 {
  display: flex;
  flex-direction: column;
  padding: 6rem 1rem;
  align-items: center;
  background-image: url(./items/concert3.png);
  border-radius: 5px;
  filter: grayscale(100%);
  background-size: cover;
  background-repeat: no-repeat;
}
.past-events .past-events-contents .event3 h2 {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: bolder;
}
.past-events .past-events-contents .event3 p {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
}
.past-events .past-events-contents .event4 {
  display: flex;
  flex-direction: column;
  padding: 6rem 1rem;
  align-items: center;
  background-image: url(./items/concert4.png);
  border-radius: 5px;
  filter: grayscale(100%);
  background-size: cover;
  background-repeat: no-repeat;
  transition: ease-in-out 1s;
}
.past-events .past-events-contents .event4 h2 {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: bolder;
}
.past-events .past-events-contents .event4 p {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

.event4:hover {
  filter: grayscale(0);
}

.Sponsers-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: #414246;
  padding: 3rem;
}
.Sponsers-section .sponsor-section-line h2 {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.Sponsers-section .sponsor-section-line hr {
  background-color: #EC5242;
  height: 5px;
}
.Sponsers-section .sponsor-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
}
.Sponsers-section .sponsor-images img {
  width: 80%;
}

@media (max-width: 768px) {
  header {
    position: fixed;
  }
  header a .logo {
    display: block;
    z-index: 120;
    position: fixed;
  }
  header .header-links {
    display: block;
  }
  header .header-nav-links {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */