@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

$primary-color: #EC5242;
$secondary-color: #D3D3D3;
$teritiary-color: #272A31;
$fourth-color: #535353;
$fifth-color:#F6F6F6;
$text-color:#3C3C3C;
$primary-padding:1rem 2rem 1rem 2rem;
$last-color:#F7F7F7;
$category-color:#3B3E45;
$main-font: 'Lato',sans-serif;

@mixin main-text{
    color: #EC5242;
    font-family: $main-font;
    font-weight: 900;
    font-size: 3em;
}
*
body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: $last-color;
    width: 100%;
    font-family: $main-font;


}
header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 0rem;
    width: 100%;
    box-shadow: #272A31 12px;
    top: 0;
    // left: 0;
    margin-top: 0rem;
    background-color:#7A7879;
    border-radius: 0px 0px 12px 12px;
    padding: 2rem 2rem;
    position: fixed;

 a .logo{
    display: none;
}
.header-links{
      display: none;
    }
    .header-links a{
        text-decoration: none;
    }

}
.hamburger{
display: block;    
    .bar {
        display: block;
        width: 40px;
        height: 6px;
        margin: 5px auto;
        background-color: $teritiary-color;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
      
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }

}
.intro-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0rem 1.5rem 3rem 1.5rem;
    margin-top: 4rem;
    background-image: url(./items/Img.png);
    background-repeat: no-repeat;
    background-size: cover;
.intro-heading{
    @include main-text;
    align-items: center;
    margin-bottom: 0;
}
p{
    color: $teritiary-color;
    font-family:$main-font;
    border: 3px solid white;
    padding: 5px;
    line-height: 25px;
    font-size:20px;

}
button{
    border: solid $primary-color 2px;
    padding: 1em;
}
img{
margin-top: 10px;
}
}
.explore-category{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-image: url('./items/explore-section-background.png');
.explore-category-line hr{
    margin-left:6rem;
    height: 3px;
    margin-right:6rem;
    background-color:  #EC5242;
}
.explore-category-heading {
    text-align: center;
    font-family: $main-font;
    color: white;
    font-size: 1rem;
}
 button{
    float: center;
    background-color: $primary-color;
    color: white;
    border: none;
    width: 80%;
    margin: auto;
    padding: 1rem;
    font-family: $main-font;
    font-size: 20px;
    margin-bottom: 1rem;
    border-radius: 10px;
 }
}
.category-content{
    display: flex;
    flex-direction: row;
    padding: 8px;
    width:100%;
    gap: 10px;
    align-items: center;
    background-color:$category-color ;
    border-radius: 6px;

margin-bottom: 8px;
    img{
        width: 15%;

    }
    .category-title{
        width: 15%;
        color: $primary-color;
        font-family: $main-font;

    }
    .category-paragraph{
        width: 70%;
        color: white;
        font-size: 18px;
    }
}

.singers-section{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    hr{
        margin-left:8rem;
    height: 3px;
    margin-right:8rem;
    background-color:  #EC5242;
    }
    .singer-section-heading{
        text-align: center;
        font-family: $main-font;
        color: black;
        font-size: 2rem;
    }
}
.singer-content-content{
    display: flex;
    flex-direction: row;
    width:100%;
    gap: 10px;
    align-items: center;


margin-bottom: 8px;
img{
    width: 40%;
    // height: 120px; 
}

}
.side-singer-content{
    width:65%;
    font-family: $main-font;
.singer-title{
    height: 30%;
}
.about-singer{
    color: $primary-color;
    font-style: italic;
    font-family: $main-font;
}
hr{
    margin-left:0rem;
    height: 3px;
    margin-right:12rem;
    background-color:  #EC5242;
}
}

.about-section{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 2rem 1.5rem .5rem 1.5rem;
    margin-bottom: 1.65rem;
    margin-top: 1rem;
    width: 100%;
    background-color: $last-color;
    .about-heading{
        @include main-text;
        align-items: center;
        margin-bottom: 14px;
        text-align: center;
        width:100%;
        padding-bottom: 1rem;
        height: 120px;
    }
    .about-section-firstParagraph{
        text-align: center;
        color: $primary-color;
        font-family: $main-font;
        font-size: 24px;
    }
    .about-section-secondParagraph{
        font-family: $main-font;
        color: $teritiary-color;
        border: 5px solid white;
        padding: 5px;
        line-height: 26px;
        font-size:18px;
        text-align:center;
        background-color: white;
    }
    .about-third-paragraph{
        font-family: $main-font;
        color: $teritiary-color;
        line-height: 26px;
        font-size:16px;
        text-align:center;
        margin-bottom: 0;
    }
    .about-email{
        font-family: $main-font;
        color: $teritiary-color; 
        font-size:22px;
        margin-top:1rem;
        padding-bottom: .5rem;
        font-weight: bold;
        border-bottom: 2px solid $teritiary-color;
        text-align: center;
    }
}
.tier-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:1rem;
}
.tier-content2,
.tier-content3{
    display:flex;
    flex-direction:column;
    margin:1rem;
    box-shadow: 5px 12px 8px #888888;
    padding:5rem;
    border-radius: 20px 20px 5px 5px;
    text-align: center;
}
.tier-content{
    border-top:8px solid black;
    display:flex;
    flex-direction:column;
    margin:1rem;
    box-shadow: 5px 12px 8px #888888;
    padding:5rem 6rem;
    border-radius: 20px 20px 5px 5px;
    text-align: center;
    h2{
        font-family: $main-font;
        font-size: 40px;
        letter-spacing: 2px;
        font-weight: bold;
    }
    h3{
        font-family: $main-font;
        font-size: 30px;
        font-weight: bold;  
    }
    p{
        color: black;
        font-family: $main-font;
        font-size: 15px;
    }
    button{
        border: none;
        padding: 1rem;
        font-family: $main-font;
        font-weight:bold;
        font-size:17px;
        border-radius: 10px;
        background-color: black;
        color:$primary-color;
    }
}


.tier-content2{
    border-top:8px solid $primary-color;
    h2{
        font-family: $main-font;
        font-size: 40px;
        letter-spacing: 2px;
        font-weight: bold;
        color: $primary-color;
    }
    h3{
        font-family: $main-font;
        font-size: 30px;
        font-weight: bold; 
        color: $primary-color;

    }
    p{
        color: black;
        font-family: $main-font;
        font-size: 15px;
    }
    button{
        border: none;
        padding: 1rem;
        font-family: $main-font;
        font-weight:bold;
        font-size:17px;
        border-radius: 10px;
        background-color: $primary-color;
        color:black;
    }
}
.tier-content3{
    border-top:8px solid $secondary-color;
    h2{
        font-family: $main-font;
        font-size: 40px;
        letter-spacing: 2px;
        font-weight: bold;
        color: $primary-color;
    }
    h3{
        font-family: $main-font;
        font-size: 30px;
        font-weight: bold; 
        color: $primary-color;

    }
    p{
        color: black;
        font-family: $main-font;
        font-size: 15px;
    }
    button{
        border: none;
        padding: 1rem;
        font-family: $main-font;
        font-weight:bold;
        font-size:17px;
        border-radius: 10px;
        background-color: $primary-color;
        color:black;
    }
}
.past-events{
    display:flex;
    flex-direction: column;
    // align-items: center;
    text-align: center;
    background-color: $last-color;
    padding: 2rem 1rem;
    .past-event-headings h1{
     color:#3C3C3C;
     font-family: $main-font;
     font-size: 32px;
    }
    .past-event-headings p{
        color:#3C3C3C;
        font-size: 18px;
        font-family: $main-font;
    }
    .past-events-contents{
        display: flex;
        flex-direction: column;
        // padding: 1rem;
        gap:20px;
        .event1{
            display: flex;
            flex-direction:column;
            padding: 6rem 1rem;
            // align-items: center;
            background-image: url(./items/concert1.png);
            border-radius: 5px;
            filter: grayscale(100%);
            // background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            h2{
                color: white;
                font-family: $main-font;
                font-size: 32px;
                font-weight: bolder;
            }
            p{
                color: white;
                font-family:$main-font;
                font-size: 24px;
            }
        }
        .event2{
            display: flex;
            flex-direction:column;
            padding: 6rem 1rem;
            align-items: center;
            background-image: url(./items/concert2.png);
            border-radius: 5px;
            filter: grayscale(100%);
            background-color: rgba(0,0,0,.7);
            // opacity:.6;

            background-size: cover;
            background-repeat: no-repeat;
            h2{
                color: white;
                font-family: $main-font;
                font-size: 32px;
                font-weight: bolder;
            }
            p{
                color: white;
                font-family:$main-font;
                font-size: 24px;
            }
        }
        .event3{
            display: flex;
            flex-direction:column;
            padding: 6rem 1rem;
            align-items: center;
            background-image: url(./items/concert3.png);
            border-radius: 5px;
            filter: grayscale(100%);
            // background-position: center;
            background-size: cover;
            background-repeat: no-repeat; 
            h2{
                color: white;
                font-family: $main-font;
                font-size: 32px;
                font-weight: bolder;
            }
            p{
                color: white;
                font-family:$main-font;
                font-size: 24px;
            }
        }
        .event4{
            display: flex;
            flex-direction:column;
            padding: 6rem 1rem;
            align-items: center;
            background-image: url(./items/concert4.png);
            border-radius: 5px;
            filter: grayscale(100%);
            // background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: ease-in-out 1s;
            h2{
                color: white;
                font-family: $main-font;
                font-size: 32px;
                font-weight: bolder;
            }
            p{
                color: white;
                font-family:$main-font;
                font-size: 24px;
            }
           
        }
    }
}
.event4:hover{
    filter: grayscale(0);
}

.Sponsers-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #414246;
    padding: 3rem;
    .sponsor-section-line{
        h2{
            font-family: $main-font;
            font-size: 32px;
            font-weight: bold;
            color: white;
        }
        hr{
            background-color: $primary-color;
            height: 5px;
        }
    } 
    .sponsor-images{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: 20px;
        img{
          width: 80%;
        }
    }
}

@media (max-width: 768px){
    header{
        position: fixed;
        a .logo{
            display: block;
            z-index: 120;
            position: fixed;
            
        }
        .header-links{
              display: block;
            }
            .header-nav-links{
                display: none;
            }
    }

}